services:

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: iot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d

  writer:
    build: ./writer
    container_name: writer
    environment:
      DB_HOST: db
      DB_NAME: iot
      DB_USER: postgres
      DB_PASSWORD: password
    depends_on:
      - db

  reader:
    build: ./reader
    container_name: reader
    environment:
      DB_HOST: db
      DB_NAME: iot
      DB_USER: postgres
      DB_PASSWORD: password
    ports:
      - "5000:5000"
    depends_on:
      - db

volumes:
  pgdata: